.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__image {
  @include phones {
    margin-right: rem(20px);
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;

  @include phones-s {
    width: rem(80px);
    height: rem(80px);
  }
}

/* .benefit__icon {
  width: rem(65px);
  height: rem(69px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.benefit__icon-symbol {
  width: rem(68px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include phones-s {
    width: rem(40px);
    height: rem(40px);
  }
}

.benefit__text {
  padding-top: rem(13px);

  @include phones-s {
    padding-top: rem(6px);
  }
}

.benefit__title {
  font-size: rem(27px);
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: rem(19px);

  @include phones-s {
    margin-bottom: rem(9px);
  }
}

.benefit__desc {
  line-height: 1.18;
  font-weight: 300;
}