.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include phones {
    padding: 0;
    margin-bottom: rem(20px);
  }

  @include phones-s {
    margin-bottom: rem(10px);
  }

  &::before {
    content: url("./../img/decor/separator.png");
    position: absolute;
    top: rem(61px);
    right: 0;
    transform: translate(50%);

    @include phones {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}