.benefits-section {
  position: relative;
  background: url("../img/decor/side-leaf.png") left -1% top 52% no-repeat;

  @include tablets {
    background-position: left -1% top 9%;
  }

  @include phones {
    background: none;
  }

  &::before {
    content: url("../img/decor/raspberry-bars.png");
    position: absolute;
    bottom: -2rem;
    left: -1%;

    @include phones {
      display: none;
    }
  }
}