.benefits-section {
  position: relative;
  background: url("./../img/decor/side-leaf.png") left rem(-6px) top 52% no-repeat;

  &::before {
    content: url("./../img/decor/raspberry-bars.png");
    position: absolute;
    bottom: rem(36px);
    left: -1%;
  }
}