.fixed-menu {
  position: fixed;
  top: 32%;
  right: 3.5%;
  z-index: $z-fixed-menu;

  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: rem(3px);

  &_active {
    .fixed-menu__link {
      border-color: #fff;
    }
  }

  &:hover {
    .fixed-menu__link {
      border-color: #fff;
    }
  }
}

.fixed-menu__link {
  width: rem(18px);
  height: rem(18px);
  border: rem(1px) solid transparent;
  border-radius: 50%;
  display: block;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}