.order-section {
  background: /* #61C4D9 */url("./../img/bg/berries-bg.png");
  position: relative;

  /* & .section__title {
    margin-bottom: rem(59px);
  } */

  &:before {
    position: absolute;
    bottom: rem(48px);
    left: 4%;
    content: url("./../img/decor/blueberries.png");
  } 

  &:after {
    position: absolute;
    bottom: rem(38px);
    right: 0%;
    content: url("./../img/decor/leaf-order.png");
  }

  &::before, &::after {
    @include tablets {
      display: none;
    }
  }
}

.order-section__title {
  margin-bottom: rem(59px);

  @include tablets {
    margin-bottom: rem(33px);
  }

  @include phones {
    font-size: rem(40px);
    line-height: 0.9;
  }

  @include phones-s {
    margin-bottom: rem(5px);
  }
}

