.order-section {
  background: /* #61C4D9 */url("./../img/bg/berries-bg.png");
  position: relative;

  & .section__title {
    margin-bottom: rem(59px);
  }

  &:before {
    position: absolute;
    bottom: rem(208px);
    left: 4%;
    content: url("./../img/decor/blueberries.png");
  } 

  &:after {
    position: absolute;
    bottom: rem(198px);
    right: 0%;
    content: url("./../img/decor/leaf-order.png");
  }
}

