.product {
  line-height: 1.22;
}

.product__container {
  display: flex;

  @include tablets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.product__col-left {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  /* flex: 1; */

  @include tablets {
    justify-content: center;
  } 
}

.product__pic {
  max-width: 98%;

  @include phones-s {
    max-width: 90%;
  }
}

.product__col-right {
  flex: 1;
  padding-right: rem(25px);

  @include tablets {
    padding-right: 0;
  }
}

.product__ingredients {
  width: rem(91px);
  height: rem(91px);
  background-color: #86C3D7;
  padding: rem(12px) rem(22px);
  position: relative;
  text-align: center;
  margin-bottom: rem(23px);
  border-radius: 4px;

  @include tablets {
    display: none;
  }

  &:hover &-dropdown {
    left: 100%;
    opacity: 1;
  }
}

.product__ingredients-icon-symbol {
  width: rem(46px);
  height: rem(46px);
}

.product__ingredients-text {
  font-size: rem(14px);
  line-height: 1.2;
  font-weight: bold;
  color: #FFFFFF;
}

.product__ingredients-dropdown {
  width: rem(273px);
  padding: rem(28px) rem(25px) rem(32px) rem(30px);
  position: absolute;
  top: 0;
  left: -9999px;
  opacity: 0;
  transition: opacity .3s;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.product__content {
  display: flex;
  flex-direction: column;

  @include tablets {
    font-size: rem(19px);
    // padding: 0;
    align-items: center;
    text-align: center;
  }

  @include phones-s {
    padding: 0;
  }
}

.product__title {
  font-size: rem(36px);
  line-height: 1.2;
  text-align: left;
  color: #292929;
  margin-bottom: rem(26px);

  @include tablets {
    font-size: rem(32px);
    margin-bottom: rem(16px);
    text-align: center;
  }

  @include phones-s {
    margin-bottom: 0;
  }

  
 /*  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase; */
}

.product__text {
  line-height: 1.2;
  margin-bottom: rem(27px);

  @include tablets {
    text-align: center;
  }

  @include phones-s {
    margin-bottom: rem(10px);
  }
}

.product__properties {
  line-height: 1.2;
  display: flex;
  margin-bottom: rem(24px);

  @include tablets {
    margin-bottom: rem(26px);
  }

  @include phones-s {
    margin-bottom: rem(15px);
  }
}

.product__properties-col {
  width: rem(148px);

  @include tablets {
    padding-left: rem(26px);
  }
}

.product__properties-row:last-child {
  color: #000000;
  font-weight: bold;
}

.product__values {
  display: flex;
}

.product__values-price {
  color: #151515;
  font-weight: 300;
  font-size: rem(60px);
  line-height: 1;
  width: rem(148px);
}