.product {
  line-height: 1.22;
}

.product__container {
  display: flex;
}

.product__col-left {
  width: 50%;
  background: url("./../img/decor/products-bars.png") top rem(20px) left rem(14px) no-repeat, url("./../img/decor/products-ellipse-color.png") top rem(100px) left rem(14px) no-repeat, url("./../img/decor/products-ellipse.png") top rem(100px) left rem(14px) no-repeat;

  &:before {
    position: absolute;
    top: rem(20px);
    left: -2%;
    content: url("./../img/decor/products-leaf.png");
  }

  &:after {
    position: absolute;
    bottom: rem(-76px);
    left: 31%;
    content: url("./../img/decor/leaf-products.png");
  }
}

.product__col-right {
  width: 50%;
}

.product__ingredients {
  width: rem(91px);
  height: rem(91px);
  background-color: #86C3D7;
  padding: rem(12px) rem(22px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product__ingredients-icon-symbol {
  width: rem(46px);
  height: rem(46px);
}

.product__ingredients-text {
  font-size: rem(14px);
  line-height: 1.2;
  font-weight: bold;
}

.product__title {
  font-size: rem(36px);
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

.product__text {
 
}

.product__properties {
  display: flex;
}

.product__properties-col-one {
  width: rem(148px);
}

.product__properties-row-bot {
  color: #000000;
  font-weight: bold;
}

.product__values {
  display: flex;
}

.product__values-price {
  color: #151515;
  font-weight: 300;
  font-size: rem(60px);
  line-height: 1;
  width: rem(148px);
}