.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(21px);

  @include tablets {
    margin-right: rem(32px);
    margin-bottom: rem(19px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include phones-s {
    // margin-right: 0;
    margin-bottom: rem(10px);
  }

  &:last-child {
    margin-right: 0;
  }

  &_checkbox {
    .radio__visible {
      border-radius: 0;

      &::before {
        background: url("./../img/icons/tick.png") center center no-repeat;
        /* background-color: #497870; */
      }
    }
  }
}

.radio__elem {
  // display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }

  &:focus ~ .radio__visible {
    box-shadow: 0px 0px 11px 1px #2e4e3f;
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin-right: rem(13px);

  @include tablets {
    margin-right: rem(14px);
  }

  &::before {
    content: "";
    width: rem(12px);
    height: rem(12px);
    background: #365A49;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}