.section {
  //height: 100vh;
  height: 100%;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_font-color_green {
    color: $green;

     .section__title {
      color: #365A49;
     }
  }
}

.section__title {
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  margin-bottom: rem(32px);
  text-transform: uppercase;
  color: #000;
}

